.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
}

.navbar-toggle {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
}

.open .navbar-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: flex;
    }

    .navbar-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }
}